/* Inner page columns */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  gap: 1.5rem;
}

.page-container > *:first-child {
  grid-row: 1 / span 3;
}

.other-posts {
  list-style-type: circle;
  margin-left: 1.5em;
}

.post-heading {
  font-size: 3em;
}

.meta {
  margin-bottom: 2em;
}

.post-content p {
  margin-bottom: 3em;
}

@media screen and (max-width: 768px) {
  .page-container {
    grid-template-columns: 1fr;
  }
}
