/* Variables */
:root {
  --primary-color: #0e2497;
  --secondary-color: #f99500;
  --dark-color: #333;
  --light-color: #eeeeee;
  --max-width: 69em;
}
.topic {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
  --ar-color: #f93800;
  --data-science-color: #1c2a;
  --robotics-color: #f5f100;
}
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #333;
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Base styles */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}
p {
  margin: 0.5rem 0;
}
img {
  max-width: 100%;
}

/* Utilities */
.container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: 2em;
  overflow: hidden;
}
.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}
.section-heading {
  padding-top: 1em;
  text-transform: capitalize;
}
h2.section-heading {
  font-size: 2.5em;
  margin-bottom: 1.5em;
}
h3.section-heading {
  font-size: 1.5em;
}
.btn:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in;
}
.card {
  background: #fff;
  padding: 1rem;
}
.section-padding {
  padding-block: 4em;
}
.articles-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19em, 1fr));
  gap: 2em;
  margin-bottom: 2em;
}
.articles-wrapper .card:hover {
  transform: scale(1.07);
  transition: all 0.2s ease-in;
}
.articles-wrapper .card .topic {
  margin-block: 1em 1.5em;
}
.hidden {
  display: none;
}

/*------------ Navigation ------------*/
#nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}
#nav .container {
  display: flex;
  padding: 1rem;
  gap: 1em;
  align-items: center;
}
.nav-links {
  margin-left: auto;
}
.nav-link {
  display: inline-block;
  padding-inline: 1.2em;
  border-right: 1px solid rgb(240, 240, 240);
}
.nav-links:last-child {
  border-right: none;
}
#nav .logo {
  width: 180px;
}
.nav-link a {
  padding: 0.75rem;
  font-weight: bold;
}
.nav-link a.current {
  background: var(--primary-color);
  color: #fff;
}
.nav-link a:hover {
  background: var(--light-color);
  color: var(--dark-color);
}
.hamburger-menu {
  height: 3em;
  width: 3em;
  position: relative;
  background-color: transparent;
  border: 0;
}
.hamburger-menu:focus {
  outline: none;
}
.hamburger-menu span {
  position: absolute;
  height: 0.4em;
  width: 100%;
  background-color: #333;
  left: 0;
}
.hamburger-menu span.top-line {
  top: 0;
}
.hamburger-menu span.middle-line {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger-menu span.bottom-line {
  bottom: 0;
}
/*------------ Hero ------------*/
#hero {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
}

/* hero image overlay */
#hero::before {
  content: "";
  background: url("../img/home-hero.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* postion hero content on left side */
#hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

#hero .hero-content {
  z-index: 1;
}
#hero h1 {
  font-size: 3.5em;
}
#hero p {
  font-size: 1.5em;
  font-weight: 300;
  padding-block: 0.25em 0.5em;
  margin-bottom: 1rem;
}
#hero a {
  padding: 0.7em;
  background-color: #0e2497;
  font-size: 1.2em;
  padding-inline: 2em;
}

/*------------  Most recent articles ------------*/
/* topic tag */
.topic {
  display: inline-block;
  color: #fff;
  font-size: 0.7em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.8em;
  border-radius: 15px;
  margin-bottom: 1em;
}
.topic-ai {
  background-color: var(--sports-color);
}
.topic-web3 {
  background-color: var(--ent-color);
}
.topic-cybersecurity {
  background-color: var(--tech-color);
}
.topic-ar {
  background-color: var(--ar-color);
}
.topic-data-science {
  background-color: var(--data-science-color);
}
.topic-robotics {
  background-color: var(--robotics-color);
}

/*------------ Hot Topics ------------*/
.hot-topics-wrapper {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(19em, 1fr));
  margin-bottom: 2em;
}
.hot-topics-wrapper .card {
  padding: 3em 2em;
  position: relative;
}
.hot-topics-wrapper .card:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in;
}
.hot-topics-wrapper .fa-solid {
  font-size: 2em;
  margin-block: 0.5em;
}
.fa-brain {
  color: #f99500;
}
.fa-globe {
  color: #a66bbe;
}
.fa-shield-halved {
  color: #009cff;
}
.fa-glasses {
  color: rgb(218, 0, 0);
}
.fa-robot {
  color: rgb(0, 173, 66);
}
.fa-tachograph-digital {
  color: rgb(238, 255, 0);
}

/*------------ Footer ------------*/
#footer {
  background: rgb(81, 87, 107);
  color: #fff;
}

#footer img {
  width: 150px;
}

.footer-heading {
  opacity: 0;
  height: 0;
}

#footer h3 {
  color: #ffffff;
  font-size: 1.4em;
  margin-bottom: 1.2em;
}

#footer .social-link {
  display: inline-block;
  font-size: 0.8em;
  margin-right: 1em;
}

#footer .company p {
  margin-block: 2em 3em;
}

#footer a {
  color: #fff;
}

#footer .copyright {
  margin-top: 2em;
  color: #bdbdbd;
}

#footer .newsletter p {
  margin-bottom: 1.5em;
}

#footer .newsletter input {
  border: none;
  padding: 1em;
  width: 100%;
  margin-bottom: 1em;
}

#footer div.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2em;
}

.footer-link {
  padding-block: 0.5rem;
}
.footer-link a:hover {
  color: var(--primary-color);
}

/* Media queries */
@media screen and (max-width: 1080px) {
  .nav-links {
    display: none;
  }
  .hamburger-menu {
    display: inline-block;
  }
  .signup-btn {
    margin-left: auto;
  }
}
